# Java / Maven
/backend/target
**/target
*.class
*.log

# Node
/frontend/node_modules
/frontend/build

# IDE
/.idea
*.iml
.vscode


# Environment secrets
.env
.env.*
!.env.example

# Java / Maven
backend/target/

# Node / React
frontend/node_modules/
frontend/build/

# Local application files
local-storage/

# Logs
*.log

# IDE
.vscode/
